<h3> 名称 </h3>
<%= @item.name %> 
<h3> 学院 </h3>
<%= @item.college %>
<h3> 简介 </h3>
<%= @item.desc %>
<h3> 负责人</h3>  
<%= @item.charge_people %>
<h3> 主要项目 </h3>
<%= @item.project  %>
<h3> 科研成果 </h3>
<%= @item.achievement %>
<h3> 论文</h3>
<%= @item.paper %>
<h3> 获得奖项</h3>
<%= @item.award %>
