<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to pat(:list), url(:quality_courses, :index) %></li>
      <li><%= link_to pat(:new), url(:quality_courses, :new) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:all) %> <% mt(:quality_courses) %></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first"><%= mat(:quality_course, :id) %></th>
          <th><%= mat(:quality_course, :name) %></th>
          <th><%= mat(:quality_course, :link) %></th>
          <th><%= mat(:quality_course, :department) %></th>
          <th><%= mat(:quality_course, :charge_person) %></th>
          <th><%= mat(:quality_course, :course_level) %></th>
          <th><%= mat(:quality_course, :category_id) %></th>
          <th><%= mat(:quality_course, :year) %></th>
          <th><%= mat(:quality_course, :created_at) %></th>
          <th><%= mat(:quality_course, :updated_at) %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @quality_courses.each do |quality_course| %>
        <tr>
          <td class="first"><%= quality_course.id %></td>
          <td><%= quality_course.name %></td>
          <td><%= quality_course.link %></td>
          <td><%= quality_course.department %></td>
          <td><%= quality_course.charge_person %></td>
          <td><%= quality_course.course_level %></td>
          <td><%= quality_course.category_id %></td>
          <td><%= quality_course.year %></td>
          <td><%= quality_course.created_at %></td>
          <td><%= quality_course.updated_at %></td>
          <td class="last">
            <%= button_to pat(:edit), url(:quality_courses, :edit, :id => quality_course.id), :method => :get, :class => :button_to %> |
            <%= button_to pat(:delete), url(:quality_courses, :destroy, :id => quality_course.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')" %>
          </td>
        </tr>
        <% end %>
      </table>
          <%= will_paginate @quality_courses%>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>
