<div class="group">
  <%= f.label :name %><%= f.error_message_on :name %>
  <%= f.text_field :name, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :section_id %>
  <%= f.error_message_on :section_id %>
  <%= f.select :section_id, :collection => @sections, :fields => [:name, :id], :class => :text_field %>
</div>

<div class="group navform wat-cf">
  <%= f.submit pat(:save), :class => :button %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:categories, :index)}';return false", :class => :button %>
</div>

