<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to pat(:list), url(:professional_constructions, :index) %></li>
      <li><%= link_to pat(:new), url(:professional_constructions, :new) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:all) %> <% mt(:professional_constructions) %></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first"><%= mat(:professional_construction, :name) %></th>
          <th><%= mat(:professional_construction, :college) %></th>
          <th><%= mat(:professional_construction, :category_id) %></th>
          <th><%= mat(:professional_construction, :phone) %></th>
          <th><%= mat(:professional_construction, :created_at) %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @professional_constructions.each do |professional_construction| %>
        <tr>
          <td class="first"><%=link_to professional_construction.name, professional_construction.link %></td>
          <td><%= professional_construction.college %></td>
          <td><%= professional_construction.category.name %></td>
          <td><%= professional_construction.phone %></td>
          <td><%= professional_construction.created_at.strftime("%y/%m/%d") %></td>
          <td class="last">
            <%= button_to pat(:edit), url(:professional_constructions, :edit, :id => professional_construction.id), :method => :get, :class => :button_to %> |
            <%= button_to pat(:delete), url(:professional_constructions, :destroy, :id => professional_construction.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')" %>
          </td>
        </tr>
        <% end %>
      </table>
          <%= will_paginate @professional_constructions %>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>
