<div class="group">
  <%= f.label :name %><%= f.error_message_on :name %>
  <%= f.text_field :name, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :link %><%= f.error_message_on :link %>
  <%= f.text_field :link, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :college %><%= f.error_message_on :college %>
  <%= f.text_field :college, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :category_id %><%= f.error_message_on :category_id %>
  <%= f.select :category_id, :collection => @categories, :fields => [:name, :id], :class => :text_field %>
</div>
<div class="group">
  <%= f.label :charge_people %><%= f.error_message_on :charge_people %>
  <%= f.text_field :charge_people, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :desc %><%= f.error_message_on :desc %>
  <%= f.text_area :desc, :class => :text_area %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :project %><%= f.error_message_on :project %>
  <%= f.text_area :project, :class => :text_area %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :achievement %><%= f.error_message_on :achievement %>
  <%= f.text_area :achievement, :class => :text_area %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :paper %><%= f.error_message_on :paper %>
  <%= f.text_area :paper, :class => :text_area %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :award %><%= f.error_message_on :award %>
  <%= f.text_area :award, :class => :text_area %>
  <span class="description">Ex: a simple text</span>
</div>

<div class="group navform wat-cf">
  <%= f.submit pat(:save), :class => :button %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:teachers, :index)}';return false", :class => :button %>
</div>
