<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to pat(:list), url(:teachers, :index) %></li>
      <li><%= link_to pat(:new), url(:teachers, :new) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:all) %> <% mt(:teachers) %></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first"><%= mat(:teacher, :id) %></th>
          <th><%= mat(:teacher, :name) %></th>
          <th><%= mat(:teacher, :link) %></th>
          <th><%= mat(:teacher, :college) %></th>
          <th><%= mat(:teacher, :category_id) %></th>
          <th><%= mat(:teacher, :charge_people) %></th>
          <th><%= mat(:teacher, :desc) %></th>
          <th><%= mat(:teacher, :created_at) %></th>
          <th><%= mat(:teacher, :updated_at) %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @teachers.each do |teacher| %>
        <tr>
          <td class="first"><%= teacher.id %></td>
          <td><%= teacher.name %></td>
          <td><%= teacher.link %></td>
          <td><%= teacher.college %></td>
          <td><%= teacher.category.name %></td>
          <td><%= teacher.charge_people %></td>
          <td><%= teacher.desc %></td>
          <td><%= teacher.created_at %></td>
          <td><%= teacher.updated_at %></td>
          <td class="last">
            <%= button_to pat(:edit), url(:teachers, :edit, :id => teacher.id), :method => :get, :class => :button_to %> |
            <%= button_to pat(:delete), url(:teachers, :destroy, :id => teacher.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')" %>
          </td>
        </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions"></div>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>
