<% @categories.each do |cate|  %>
  <h3 id="<%= cate.id %>">
    <%= cate.name %> <br> 
  </h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>团队名称</th>
        <th>单位</th>
        <th>类型</th>
        <th>负责人</th>
        <th>简介</th>
      </tr>
    </thead>
    <% cate.teachers.each do |t| %>
      <tbody>
        <tr>
          <td> <%= link_to t.name, url(:item, :show, @section.key, t.id ), :target => "_blank" %> </td>
          <td> <%= t.college %> </td>
          <td> <%= t.category.name%> </td>
          <td> <%= t.charge_people %> </td>
          <td> <%= t.desc%> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
