 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "教学资源网" %></title>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "bootstrap.min" %>
    <%= stylesheet_link_tag "bootstrap-responsive.min" %>
    <%= stylesheet_link_tag "custom" %>
    <%= stylesheet_link_tag "docs" %>

  </head>
  <body>

    <div class="navbar navbar-fluid-top navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">山东理工大学教学资源网</a>
          <a class="brand" href="/"></a>
          
          <div class="container-fluid nav-collapse">
            <ul class="nav">
              <% @sections.each do |s| %>
                <li class=<%= 'active' if s.key == @key  %>>
                  <%= link_to  s.name, url(:section, :index, s.key ) %>
                </li>
              <% end %>
            </ul>

            <ul class="nav pull-right">
              <li><%= link_to "管理登录", '/admin/sessions/new' %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
            <div class="span2 bs-docs-sidebar">
              <ul class="nav nav-list bs-docs-sidenav affix">
              <% @section.categories.each do |c| %>
                <li>
                <%= link_to  c.name + '<i class="icon-chevron-right"></i>', url(:section, :index, @section.key) + "##{c.id.to_s}" %>
                </li>
              <% end %>
              </ul>
            </div>
        <div class="span10">
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
        <p>&copy; Company <%= Time.now.year %></p>
      </footer>

    </div> <!-- /container -->

    <%= javascript_include_tag  'jquery-1.8.2.min' %>
    <%= javascript_include_tag  'application' %>
    <%= javascript_include_tag  'modernizr.min' %>
    <%= javascript_include_tag  'bootstrap-collapse' %>

  </body>
</html>
